body
{
    font-family: Poppins,sans-serif;
    margin:0;
    color:white;
    background-color: rgba(196, 196, 196, 0.77);
}
header
{
    /*Config layout*/
    grid-area: cabecalho;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    /*Config design*/
    background: radial-gradient(circle, rgba(75,30,190,1) 0%, rgba(91,57,196,1) 49%, rgba(196,0,255,1) 95%);
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.77);
}

header > div:nth-child(1)
{
    /*Config Layout*/
    Order:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-basis: 120px;
}

div > img
{
    height: 100%;
}

header > div:nth-child(2)
{
    /*Config Layout*/
    Order:1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    /*Config Display*/
    color:white;
}

header > nav:nth-child(3)
{
    /*Config Layout*/
    Order:2;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-basis: 200px;
}

nav > ul:nth-child(1)
{
    /*Config Layout*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;

    /*Config Design*/
    list-style-type: none;
    font-weight: bold;
}

ul li
{
    /*Config Layout*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80px;
}

li a
{
    /*Config Layout*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;

    /*Config Design*/
    color:white;
    text-decoration: none;
    transition: background-color 1s;
}

a:hover
{
    /*Config Design*/
    background-color: white;
    color:black;
}

section
{
    display:flex;
    flex-direction: column;
    /*border:solid 2px black;*/
    margin:50px;
}

.User
{
    background: linear-gradient( rgba(75,30,190,1) 0%, rgba(91,57,196,1) 49%, rgba(196,0,255,1) 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttons
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.create
{
    display:inline-block;
    margin: 20px 0px;
    color:white;
    font-family: Poppins,sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    border:none;
    padding: 10px;
    width: 120px;
    transition: background-color 1s;
}

.create:hover
{
    background-color: #C400FF;
}

table
{
    margin-top:20px;
}

thead
{
    border-bottom: solid 2px #781dff;
    color:#212121;
}

th
{
    margin:0px 40px;
}

td
{
    text-align: center;
    color: #4e4549;
    padding-top: 20px;
    margin:0px;
}

.Save
{
    background-color: #54ff42;
    border: none;
    transition: background-color 1s;
    display:none;
    height: 30px;
    width: 30px;
    padding: 0;
}

.edit
{
    background-color: #3fdaff;
    border: none;
    transition: background-color 1s;
    height: 30px;
    width: 30px;
    padding: 0;
    margin-left: 5px;
}

.exclude
{
    background-color: #ff3d3a;
    border: none;
    transition: background-color 1s;
    height: 30px;
    width: 30px;
    padding: 0;
    margin-left: 5px;
}

button > img
{
    height: 24px;
    width: 24px;
    margin:0;
}

.edit:hover,.exclude:hover,.Save:hover
{
    background-color: #C400FF;
}

input
{
    background:none;
    text-align: center;
    border:none;
    color: #4e4549;
    font-family: Poppins,sans-serif;
    font-size:1em;
    border-bottom: solid 2px #C400FF;
    outline:none;
}


